.page-menu{
	position:absolute;
	left:0;
	width:150px;
	top:0;
	height:100%;
}
.page-menu .panel-title{
	font-size:12px;
}
.page-menu .panel-heading{
	padding:5px;
}
.page-menu .panel-body{
	padding:0;
}
.panel-body > * {
	margin:0;
}
.panel-body > * > *{
	border:none;
	width:100%;
}
.page-tab{
	padding-left:165px;
}
.page-login{
	width:500px;
	margin:0 auto;
	margin-top:100px;
	padding:20px;
}
